 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 927px;
}

.u-section-1 .u-list-1 {
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 871px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 250px;
  object-position: 50% 26.1%;
  width: 250px;
  background-image: url("images/pexels-photo-6988826.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 8px;
  margin: 14px 36px 0 74px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 24px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 250px;
  object-position: 50% 15.64%;
  width: 250px;
  background-image: url("images/pexels-photo-5233311.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 8px;
  margin: 14px 36px 0 74px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 717px;
  }

  .u-section-1 .u-text-1 {
    width: 332px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: 332px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2509px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 22px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 351px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 0 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 8px));
  min-height: 190px;
  grid-auto-columns: calc(20% - 8px);
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 162px;
  height: 162px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 162px;
  height: 162px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 162px;
  height: 162px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 162px;
  height: 162px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-image-5 {
  width: 162px;
  height: 162px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-6 {
  width: 162px;
  height: 162px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-image-7 {
  width: 162px;
  height: 162px;
  margin: 0 auto;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 280px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: -14px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}.u-block-1945-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-1945-3 {
  position: absolute;
  left: 0;
}

.u-block-1945-4 {
  position: absolute;
  right: 0;
}

 .u-section-3-1 {
  min-height: 600px;
}

.u-section-3-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3-1 .u-layout-cell-1 {
  min-height: 600px;
  background-image: linear-gradient(#fcc05f, #f2f2f2);
}

.u-section-3-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3-1 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3-1 .u-text-2 {
  margin: 68px 0 0;
}

.u-section-3-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 89px 0 0;
}

.u-section-3-1 .u-layout-cell-2 {
  min-height: 600px;
  background-image: none;
}

.u-section-3-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3-1 .u-image-1 {
  margin-bottom: 0;
  margin-top: 0;
  height: 540px;
}

@media (max-width: 1199px) {
   .u-section-3-1 {
    min-height: 390px;
  }

  .u-section-3-1 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 495px;
    background-position: 50% 50%;
  }

  .u-section-3-1 .u-image-1 {
    height: 421px;
  }
}

@media (max-width: 991px) {
   .u-section-3-1 {
    min-height: 274px;
  }

  .u-section-3-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-3-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3-1 .u-image-1 {
    height: 359px;
  }
}

@media (max-width: 767px) {
   .u-section-3-1 {
    min-height: 421px;
  }

  .u-section-3-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 426px;
  }

  .u-section-3-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-1 .u-image-1 {
    height: 598px;
  }
}

@media (max-width: 575px) {
   .u-section-3-1 {
    min-height: 263px;
  }

  .u-section-3-1 .u-layout-cell-2 {
    min-height: 268px;
  }

  .u-section-3-1 .u-image-1 {
    height: 368px;
  }
}

 .u-section-3-2 {
  min-height: 600px;
}

.u-section-3-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3-2 .u-layout-cell-1 {
  min-height: 500px;
  background-image: linear-gradient(#fcc05f, #f2f2f2);
}

.u-section-3-2 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-3-2 .u-text-1 {
  font-weight: 700;
  margin: 20px 29px 0;
}

.u-section-3-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 68px 29px 0;
}

.u-section-3-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 68px 29px 0;
}

.u-section-3-2 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-3-2 .u-container-layout-2 {
  padding: 26px 60px;
}

.u-section-3-2 .u-image-1 {
  margin-bottom: 0;
  margin-top: 0;
  height: 447px;
}

@media (max-width: 1199px) {
   .u-section-3-2 {
    min-height: 390px;
  }

  .u-section-3-2 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-3-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-2 .u-layout-cell-2 {
    min-height: 412px;
    background-position: 50% 50%;
  }

  .u-section-3-2 .u-image-1 {
    height: 349px;
  }
}

@media (max-width: 991px) {
   .u-section-3-2 {
    min-height: 274px;
  }

  .u-section-3-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3-2 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-3-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3-2 .u-image-1 {
    height: 298px;
  }
}

@media (max-width: 767px) {
   .u-section-3-2 {
    min-height: 421px;
  }

  .u-section-3-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3-2 .u-layout-cell-2 {
    min-height: 426px;
  }

  .u-section-3-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-2 .u-image-1 {
    height: 497px;
  }
}

@media (max-width: 575px) {
   .u-section-3-2 {
    min-height: 263px;
  }

  .u-section-3-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3-2 .u-layout-cell-2 {
    min-height: 268px;
  }

  .u-section-3-2 .u-image-1 {
    height: 306px;
  }
}

 .u-section-3-3 {
  min-height: 600px;
}

.u-section-3-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3-3 .u-layout-cell-1 {
  min-height: 500px;
  background-image: linear-gradient(#fcc05f, #f2f2f2);
}

.u-section-3-3 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-3-3 .u-text-1 {
  font-weight: 700;
  margin: 20px 29px 0;
}

.u-section-3-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 68px 29px 0;
}

.u-section-3-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 68px 29px 0;
}

.u-section-3-3 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-3-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3-3 .u-image-1 {
  margin-bottom: 0;
  margin-top: 0;
  height: 440px;
}

@media (max-width: 1199px) {
   .u-section-3-3 {
    min-height: 390px;
  }

  .u-section-3-3 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-3-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-3 .u-layout-cell-2 {
    min-height: 412px;
    background-position: 50% 50%;
  }

  .u-section-3-3 .u-image-1 {
    height: 343px;
  }
}

@media (max-width: 991px) {
   .u-section-3-3 {
    min-height: 274px;
  }

  .u-section-3-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3-3 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-3-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3-3 .u-image-1 {
    height: 293px;
  }
}

@media (max-width: 767px) {
   .u-section-3-3 {
    min-height: 421px;
  }

  .u-section-3-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3-3 .u-layout-cell-2 {
    min-height: 426px;
  }

  .u-section-3-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3-3 .u-image-1 {
    height: 488px;
  }
}

@media (max-width: 575px) {
   .u-section-3-3 {
    min-height: 263px;
  }

  .u-section-3-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3-3 .u-layout-cell-2 {
    min-height: 268px;
  }

  .u-section-3-3 .u-image-1 {
    height: 300px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 566px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 516px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 55px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 28px 0 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 99px;
  min-height: 16px;
  width: 458px;
  min-width: 124px;
  margin: 20px -121px 0 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 446px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-4 .u-form-1 {
  height: 347px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-4 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-4 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-4 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-social-icons-1 {
    height: 69px;
    width: 337px;
    margin-left: 10px;
    margin-right: 10px;
  }
}